@rendermode InteractiveWebAssembly
@* @rendermode InteractiveAuto *@

@* Top-level menu item *@
@if (!HasParent)
{
  @if (!HasChildren)
  {
    <li class="nav-item">
      <NavLink class="@GetCssClassForA()" href="@Link" Match="NavLinkMatch.All">
        @if (HasFontClassEmoji)
        {
          <MenuItemEmoji FontEmoji="@FontClassEmoji" />
        }
        @Title
      </NavLink>
    </li>
  }
  else
  {
    <li class="nav-item dropdown">
      <a class="@GetCssClassForA()" href="@Link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @if (HasFontClassEmoji)
        {
          <MenuItemEmoji FontEmoji="@FontClassEmoji" />
        }
        @Title
      </a>
      <ul class="dropdown-menu dropend">
        @foreach (var child in MenuFragment.Children!)
        {
          <MenuFragmentRender MenuFragment="child" MenuLevel="@(MenuLevel + 1)" IsNavCollapsed="@IsNavCollapsed" />
        }
      </ul>
    </li>
  }
}
@* Submenu item *@
else
{
  @if (HasChildren)
  {
    <li class="@GetCssClassForLi()">
      <a class="@GetCssClassForA()" href="@Link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @if (HasFontClassEmoji)
        {
          <MenuItemEmoji FontEmoji="@FontClassEmoji" />
        }
        @Title
      </a>
      <ul class="dropdown-menu dropend ml-auto">
        @foreach (var child in MenuFragment.Children!)
        {
          <MenuFragmentRender MenuFragment="child" MenuLevel="@(MenuLevel + 1)" IsNavCollapsed="@IsNavCollapsed" />
        }
      </ul>
    </li>
  }
  else
  {
    <li class ="@GetCssClassForLi()">
      <NavLink class="@GetCssClassForA()" href="@Link" Match="NavLinkMatch.All">
        @if (HasFontClassEmoji)
        {
          <MenuItemEmoji FontEmoji="@FontClassEmoji" />
        }
        @Title
      </NavLink>
    </li>
  }
}

